@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@keyframes slideToTop {
  from {
    transform: translateY(600px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes logoAnimation {
  25%,
  50%,
  100% {
    opacity: 1;
  }
  0% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
  25% {
  }
  50% {
    transform: translate(0, 300px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes logoBackgroundAnimation {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}

@keyframes writingBackgroundAnimation {
  0%,
  100% {
    width: 0;
    padding: 0;
  }

  25%,
  75% {
    width: auto;
    padding: 0 10px;
  }
}

@keyframes writingAnimation {
  0%,
  100% {
    opacity: 0;
    top: 50px;
  }
  1%,
  99% {
    opacity: 1;
  }

  25%,
  75% {
    top: 0;
  }

  100% {
    top: -50px;
  }
}

@keyframes appearAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes backgroundPhotoAnimation {
  from {
    background-size: 500px;
  }
  to {
    background-size: 550px;
  }
}

@keyframes buttonAnimation {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  1%,
  100% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes arrowAnimation {
  from {
    width: 0;
  }
  to {
    width: 74px;
  }
}

* {
  font-family: 'Rubik';
}

.banner {
  border: 1px solid #707070;
  margin: 20px auto;
  font-family: sans-serif;
  height: 600px;
  width: 300px;
  display: block;
  overflow: hidden;
  position: relative;
}

.logo {
  background-color: #fcda16;
  height: 100%;
  animation: slideToTop 1s ease-in 0s, logoBackgroundAnimation 1s forwards 2.5s;
  z-index: 2;
}

.logo__photo {
  top: 0;
  left: 40px;
  position: absolute;
  opacity: 0;
  animation: logoAnimation 1.5s forwards 1s;
  background-color: #fcda16;
  padding: 15px 20px;
}

.offers-container {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
  animation: appearAnimation 0s forwards 1.5s;
}

.offer {
  height: 600px;
  width: 300px;
  background-position: 15% 50%;
  background-size: 500px;
  position: relative;
  animation: backgroundPhotoAnimation 5s forwards 3s;
}

.offer__country {
  position: absolute;
  bottom: 232px;
  left: 40px;
  background-color: white;
  font-size: 15px;
  height: 18.45px;
  width: 0;
  padding: 0;
  animation: writingBackgroundAnimation 4s forwards 3s;
  overflow: hidden;
}

.offer__country__text {
  opacity: 0;
  animation: writingAnimation 3s forwards 3.5s;
  position: relative;
}

.offer__city {
  position: absolute;
  bottom: 180px;
  left: 40px;
  background-color: #fcda16;
  padding: 0 10px;
  font-size: 45px;
  height: 53px;
  width: 0;
  padding: 0;
  animation: writingBackgroundAnimation 4s forwards 4s;
  overflow: hidden;
}

.offer__city__text {
  opacity: 0;
  animation: writingAnimation 3s forwards 4.5s;
  position: relative;
}

.offer__price {
  position: absolute;
  bottom: 120px;
  left: 100px;
  color: #fcda16;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 42px;
  overflow: hidden;
}

.offer__price > span {
  opacity: 0;
  position: relative;
  animation: writingAnimation 3s forwards 5s;
}

.offer__price__price {
  font-size: 25px;
  font-weight: 600;
  margin-top: -5px;
}

.offer__book-now {
  position: absolute;
  bottom: 75px;
  left: 100px;
  height: 45px;
  width: 155px;
}

.offer__book-now__arrow__start {
  background-color: #fcda16;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 20px;
  left: -45px;
  animation: arrowAnimation 1s forwards 4.5s;
  z-index: 1;
}

.offer__book-now__arrow__end {
  position: absolute;
  bottom: 16px;
  height: 12px;
  right: 25px;
  font-size: 15px;
  opacity: 0;
  animation: buttonAnimation 1s forwards 4.5s;
}

.offer__book-now__button {
  background-color: white;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.5px;
  opacity: 0;
  animation: buttonAnimation 1s forwards 4.5s;
}
