* {
  padding: 0;
  margin: 0;
  border: 0;
}

.banner {
  height: 600px;
  width: 160px;
  border: 1px solid lightgray;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.logo {
  margin: 20px 15px 5px;
}

.small-logo {
  color: gray;
  margin: 2px 5px;
  font-size: 14px;
}

.products-container {
  flex-grow: 1;
}

.product {
  display: none;
  border: 1px solid lightgray;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.product--active {
  display: flex;
}

.product__image {
  width: 95%;
  height: auto;
}

.product__name {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.product__price {
  margin: 25px auto;
  font-weight: 600;
}

.product__button {
  width: 100%;
  height: auto;
  background-color: rgb(243, 82, 61);
  border: none;
  color: white;
  width: 60%;
  padding: 7px 0;
  cursor: pointer;
  margin-bottom: 15px;
}

.product__close {
  height: auto;
  border: none;
  color: gray;
  cursor: pointer;
  background-color: transparent;
  margin: 5px 5px 5px auto;
  font-size: 12px;
  font-weight: 600;
}
